@import 'reset';

.mio-editor {
  width: 21cm;
  min-height: 29.7cm;
  margin: 30mm auto 27mm auto;
  box-shadow: 0px 2px 5px #888888;
  border-radius: 3px;
  border: 1px lightgrey solid;
  border: 15px 0 auto 0;
  font-size: 14pt;
  padding: 3cm 2cm 2cm 3cm;

  * {
    line-height: 2;
  }

  h2 {
    display: block;
    font-size: 1.1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }

  del {
    text-decoration: line-through;
  }

  li {
    display: list-item;
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
}
